[Unit]
Description=GENIVI DLT logging daemon
Documentation=man:dlt-daemon(1)  man:dlt.conf(5)
DefaultDependencies=no

[Service]
Type=simple
WorkingDirectory=/root/project/fw
ExecStart=/root/project/fw/bin/dlt-daemon -c ./config/dlt.conf
WatchdogSec=0
NotifyAccess=main
LimitCORE=infinity
CPUAffinity=1

[Install]
WantedBy=basic.target